*{
  box-sizing: border-box;
}

body{
  background-image:url(background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Ubuntu', sans-serif;
}

.frame{
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin:auto;
}

.container{
  padding: 80px;
}

.logo{
  display: block;
  margin:auto;
  width: 25%;
}

header > h1{
  text-align: center;
  color: lime;
}

nav{
  box-sizing: content-box;
  background-color: lime;
  text-align: center;
  padding: 10px;
}

button, .selector>input{
  cursor: pointer;
}

/* Text color */
.selector, .info{
  color: white;
}

.info:before{
  content: '\21A6';
}

.selector h2{
  display: inline;
}

.carica1{
  width: 220px;
  background-color: orange;
}
.carica2{
  width: 420px;
  background-color: green;
}
.carica3{
  width: 120px;
  background-color: red;
}

.carica1, .carica2, .carica3{
  height: 20px;
  border-radius: 4px;
}

.selector{
  padding: 10px 10px;
}

footer{
  text-align: right;
  text-decoration:underline;
  font-size: 13px;
  font-style: italic;
  color: white;
}
